
#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #10192D; 
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 9999; 
    opacity: 1; 
    transition: opacity 1s ease; 
}


#loading-screen.hidden {
    opacity: 0; 
    pointer-events: none; 
}


.loading-gif {
    width: 150px; 
    height: 150px;
    margin-bottom: 20px;
}